@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700&display=swap');

/* -----------------------------Colours---------------------------- */

.bg-color-name-title {
    background-color: #676767;
}

/* -----------------------------Heading---------------------------- */

header {
    margin: 0;
}

.logo {
    background: url(../images/my-image.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 260px;
    max-width: 240px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    margin-left: 3rem;
    margin-top: 1rem;
}